
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.King {
    display: flex;
    justify-content: space-between;
    width: 490px;
    background-color: aqua;
    padding: 5px;
    margin-top: 50px;
}
img {
    width: 500px;
    height: 400px;
}